In [1]:
import numpy as np
import pandas as pd
from pandas import read_table

In [2]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings_base = pd.read_csv('../data/ua.base', sep='\t', names=r_cols, encoding='latin-1') ## this is the training data
ratings_test = pd.read_csv('../data/ua.test', sep='\t', names=r_cols, encoding='latin-1') ## This is the test data

In [3]:
users = ratings_test['user_id'].unique()

In [4]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = read_table('../data/u.user',sep='|',header=None)
users.columns = u_cols

## Load the Ratings data
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = read_table('../data/u.data',header=None,sep='\t')
ratings.columns = r_cols

i_cols = ['movie_id', 'movie title' ,'release date','video release date', 'IMDb URL', 'unknown', 'Action', 'Adventure',
 'Animation', 'Children\'s', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy',
 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']
items = read_table('../data/u.item', sep='|',names=i_cols,
 encoding='latin-1')

In [5]:
items.rename({'movie id':'movie_id'},inplace=True)

In [6]:
new_file = pd.merge(items,ratings,on='movie_id')

In [7]:
new_file = new_file[['movie_id','movie title','user_id','rating']]

In [8]:
new_grouped = new_file.groupby('movie title')['user_id'].count().reset_index()

In [9]:
grouped_sum = new_grouped['user_id'].sum()
new_grouped['percentage']  = new_grouped['user_id'].div(grouped_sum)*100
new_grouped.sort_values(['user_id', 'movie title'], ascending = [0,1])

new_grouped['Rank'] = new_grouped['user_id'].rank(ascending=0, method='first')

In [10]:
users = ratings['user_id'].unique()

In [11]:
train_data_grouped = new_file.groupby(['movie title']).agg({'user_id': 'count'}).reset_index()

In [12]:
train_data_grouped.rename(columns = {'user_id': 'score'},inplace=True)            
#Sort the songs based upon recommendation score
train_data_sort = train_data_grouped.sort_values(['score','movie title'], ascending = [0,1])            
#Generate a recommendation rank based upon score
train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')

In [13]:
popularity_recommendations = train_data_sort.head(10)

In [14]:
popularity_recommendations['user_id'] = users[5]

/Users/abhisheksubramanian/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [15]:
popularity_recommendations

                        movie title  score  Rank  user_id
1398               Star Wars (1977)    583   1.0      298
333                  Contact (1997)    509   2.0      298
498                    Fargo (1996)    508   3.0      298
1234      Return of the Jedi (1983)    507   4.0      298
860                Liar Liar (1997)    485   5.0      298
460     English Patient, The (1996)    481   6.0      298
1284                  Scream (1996)    478   7.0      298
1523               Toy Story (1995)    452   8.0      298
32             Air Force One (1997)    431   9.0      298
744   Independence Day (ID4) (1996)    429  10.0      298

In [16]:
def popularity(train):
    train_data_grouped = train.groupby(['movie title']).agg({'user_id': 'count'}).reset_index()    
    train_data_grouped.rename(columns = {'user_id': 'score'},inplace=True)            
    #Sort the songs based upon recommendation score
    train_data_sort = train_data_grouped.sort_values(['score','movie title'], ascending = [0,1])            
    #Generate a recommendation rank based upon score
    train_data_sort['Rank'] = train_data_sort['score'].rank(ascending=0, method='first')
    popularity_recommendations = train_data_sort.head(10) 
    return popularity_recommendations

In [17]:
popularity(new_file)

                        movie title  score  Rank
1398               Star Wars (1977)    583   1.0
333                  Contact (1997)    509   2.0
498                    Fargo (1996)    508   3.0
1234      Return of the Jedi (1983)    507   4.0
860                Liar Liar (1997)    485   5.0
460     English Patient, The (1996)    481   6.0
1284                  Scream (1996)    478   7.0
1523               Toy Story (1995)    452   8.0
32             Air Force One (1997)    431   9.0
744   Independence Day (ID4) (1996)    429  10.0